.guidelines-main-container {
  /* Por defecto, se apila (comportamiento de bloque/columna) */
  position: relative;
  overflow-x: hidden;
  min-height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.logo-svg {
  display: none;
}

/* El texto y botones ocupa todo el ancho en móvil */
.carrusel-btns-text-container {
  width: 100%;
  color: #fff;
  padding: 2rem;
  background-color: #191921;
}

.carrusel-div {
  /* El carrusel ocupa todo el ancho debajo del texto en móvil */
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 60vh; /* Altura que tendrá el carrusel en móvil/escritorio */
}

/* --- Estilos del Botón y Títulos (Válido para todos) --- */

.heading {
  font-size: 2.5rem; /* Tamaño de encabezado móvil */
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.carrusel-btns {
  display: flex;
  gap: 1rem;
}

.carrusel-button {
  background: transparent;
  border: 2px solid #f94f4f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f94f4f;
  font-size: 1.5rem;
  line-height: 1;
}
.carrusel-button:hover {
  border: 2px solid #ff9393;
  color: #ff9393;
}

@media (min-width: 870px) {
  /* 1. Contenedor principal: Aplica Flexbox para la alineación en fila */
  .guidelines-main-container {
    display: flex;
    flex-direction: row; /* CLAVE: Alineación horizontal */
    align-items: stretch;
    min-height: 80vh; /* Aumenta la altura para un mejor visual */
  }
  .logo-svg {
    display: block;
    position: relative; /* CLAVE 1: Debe ser absoluto para posicionarse */

    /* Mueve el logo a la derecha de su padre (.carrusel-btns-relative-div) */
    right: -23.5vw;

    /* Mueve el logo al 50% de la altura de su padre */
    top: 35%;

    /* CLAVE 2: Ajusta la posición -50% de su propia altura para centrarlo */
    transform: translateY(-50%);

    z-index: 102;
  }

  .carrusel-btns-relative-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191921;
    width: 48vw;
    z-index: 101;
    height: 500px;
  }

  /* 2. Contenedor de Texto y Botones: Fija al 50% */
  .carrusel-btns-text-container {
    background-color: transparent;
    width: 40%;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  /* 3. Contenedor del Carrusel: Fija al 50% y pegado a la derecha */
  .carrusel-div {
    width: 60%;
    flex-shrink: 0;
    /* Asegura que el carrusel ocupe la mitad derecha */
    height: auto;
    min-height: 100%; /* Asegura que tome toda la altura del guidelines-main-container */
  }

  /* Ajuste de tipografía en escritorio */
  .heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    max-width: 50%;
  }
  .carrusel-btns {
    align-self: start;
    padding-left: 12vw;
  }
}
